---
layout: default
---
<section id="post" class="grid">
      <div class="col-8 grid post">

        {% for post in site.posts limit:1 %}
        <div class="col-12">
          <h3> {{post.title}} </h3>
          <img class="featuredpic"src="{{post.featuredimg}}"/>
          {{post.excerpt}}
          <a href="{{post.url}}" class="button"> Read More </a>
        </div>
        {% endfor %}

        {% for post in site.posts offset:1 %}
          <div class="col-4 post">
              <img class="featuredpic"src="{{post.featuredimg}}"/>
              <h3> {{post.title}} </h3>
              <p> {{post.excerpt | truncatewords: 50}}</p>
              <a href="{{post.url}}" class="button"> Read More</a>
          </div>
        {% endfor %}
      </div>


    <div class="col-4 sidebar">
          {% include sidebar.html %}
    </div>

</section>
