---
layout: default
---
<section id="upcoming" class="grid-spaceAround">
  <div class="col-8">
    <h3> Up Coming Events </h3>
    <p> Our next adventure will be Oct 24th - Oct 26th, inclusive, at Lane
    pool reserve. There will be kayaking, bushwalking, campfire and of course
    smores!!! </p>

    <a href="/contact.html" class="button">
      Register Your Interest!
    </a>

  </div>

  <div class="col-4">
    <h4> Tutorials </h4>
    <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/gAtS4L_lhv4" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<!-- this is the close for up coming register interest and tutorials -->

<section id="review">
  <div class="grid-spaceBetween container">
    {% for post in site.posts limit:1 %}
      <div id="posts" class="col-8 post">
          <h3> {{post.title}} </h3>
          <img class="featuredpic" src="{{post.featuredimg}}"/>
          {{post.excerpt}}
        <a href="{{post.url}}" class="button"> Read More </a>
      </div>
    {% endfor %}

    <div class="col-4 sidebar">
          {% include sidebar.html %}
    </div>
  </div>
</section>
