*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  /*border: 1px solid yellow;*/
}

html{
  font-family: 'Arimo', sans-serif;
}

section,footer {
  padding:5%;
}

img{
  max-width:100%;
}

hr {
    border: none;
    border: 1px solid green;
    width: 2rem;
    margin: 2rem auto;
}

/* Typography */
a{
  color:#2ecc71;
  text-decoration: none;
}

h1{
font-size: 2.7rem:
}

h2{
  font-size: 2.2rem;
  text-align: center;
}

h3{
  font-size: 1.8rem;
}

h4{
  font-size: 1.6rem;
}


p{
  font-size: 1.2rem;
  line-height: 1.6;
}


.youtube {
  width:100%;
  height: 13vw;
  margin-bottom: 10%;
}

.postimg {
  width: 100%;
  height: 13vw;
}


.flex-center {
  align-items: center;
  justify-content: center;
  display:flex;
}

.padded {
  padding: 2%;
}

.review {
  min-height: 7vw;
  width: 14vw;
  margin-left: auto;
  margin-bottom: 8%;
  background-size: cover;
}

input,textarea{
  margin-bottom: 5%;
  padding:2%
}


#posts a {
  color: black;
}

#upcoming p {
  justify-content: center;
  padding-right:15%;
}


/* HEADER */
#fixed-header{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  font-size:1.3rem;
  padding: 1%;
}
#fixed-header h2 {
  text-align: left;
  font-size: 1.5rem;
}
#fixed-header a {
  color: white;
  padding:9px;
}
#fixed-header #hamburger-icon{
  display: none;
}
@media all and (max-width: 768px) {

  #fixed-header nav{
    display: none;
  }
  #fixed-header #hamburger-icon{
    display: block;
  }

}


/* MOBILE MENU */
#mobile-menu {
  background-color: white; /* makes the background colour pink */
  position: fixed; /* Makes sure it wont move - even if you scroll */
  top: 0; /* Makes sure the mobile-menu sticks to the top of the screen */
  left: 0; /* This makes sure the mobile menu sticks to the left of the screen */
  width: 100%;/* Makes it wide */
  height: 100%;/*Makes it tall */
  display: none;/* hide mobile menu initially */
  z-index: 999; /* Makes sure the mobile-menu is in the front of other elements */
  text-align: center;
}
#mobile-menu a {
  color: black;
  display: block;
  padding: 1vh;
}
#mobile-menu.mobile-menu-visible{
  display: flex;
}

/* HERO */
#hero{
  width:100%;
  min-height:70vh;
  background-image:url("/img/waterfall.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color:white;
}


/*    */
#statement h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Footer */

footer {
  padding: 2% 5%;
  background-color: rgb(240,240,240);
}

footer .fa {
  padding: 0 0.5rem;
  font-size: 2rem;
}

footer .copyright {
  font-size: 1rem;
  color: grey;
  text-transform: uppercase;
  margin-top: 2rem;
}


/*HELPERS */

.add-object-fit{

}

.center{
  text-align: center;
}

/* About Page */
.about img {
  margin-bottom: 5%;
  text-align: justify;
}

/* Contact Page */
.contact p {
  text-align: center;
  margin: 5%;
}

.form {
  position: absolute;
  margin-right: 80px;
}

/*blog page sidebar*/
.post {
  text-align: justify;
}
