<div class="box">
  <h3> About Camp Sanity </h3>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <a class="button" href="/about.html"> Read More </a>
</div>
<div class="box">
  <h3> Where we are  </h3>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

{% for post in site.posts %}
  <a href="{{post.url}}">
    <div class="review overlay-container" style="background-image:url('{{post.featuredimg}}')">
      <div class="overlay flex-center">
          <h3>{{post.title}} </h3>
      </div>
    </div>
  </a>
{% endfor %}
<div class="box">
  <h3> Testimonials </h3>
  <p> " Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
</div>
